<h1>Склады</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.id %></td>
        <td><%= store.name %></td>
        <td><%= link_to 'просмотр', cp_store_path(store) %></td>
        <% if store.name == "Интернет-магазин"%>
        <td class="text-muted">нельзя редактировать</td>
          <td class="text-muted">нельзя удалить</td>
        <% else %>
          <% if store.has_parts %>
            <td><%= link_to 'редактирование', edit_cp_store_path(store) %></td>
            <td class="text-muted">нельзя удалить</td>
          <% else %>
           <td><%= link_to 'редактирование', edit_cp_store_path(store) %></td>
           <td><%= link_to 'удалить', cp_store_path(store), method: :delete, data: { confirm: 'Вы уверены?' }, class: "text-danger" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать +', new_cp_store_path, class: "btn btn-lg btn-success" %>
